[submodule "node_modules/graphs"]
	path = node_modules/graphs
	url = git@github.com:editor/node-graphs.git
[submodule "node_modules/neo4j"]
	path = node_modules/neo4j
	url = git@github.com:editor/node-neo4j.git
